<!DOCTYPE html>
<html
        lang="en" xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{_shared/head}"></th:block>
    <link rel="stylesheet" href="/css/merchant.css">
</head>
<body>
<header>
    <header>
        <th:block th:include="~{_shared/header}"></th:block>
    </header>
</header>
<main class="container">
    <h1 class="text-center">Merchant</h1>
    <hr class="hr-3"/>
    <table class="table bg-blur">
        <thead>
        <tr>
            <th scope="col" class="font-weight-bold">Name</th>
            <th scope="col">Slot</th>
            <th scope="col">Stamina</th>
            <th scope="col">Strength</th>
            <th scope="col">Attack</th>
            <th scope="col">Defence</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody id="items-table">

        </tbody>
    </table>
</main>
<th:block th:include="~{_shared/footer}"></th:block>
<th:block th:include="~{_shared/loader}"></th:block>

<script
        src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="/js/items.js"></script>
</body>
</html>